body{
  width: 100%;
  text-align: center;
  background-image: url(/img/allpage/background.png);
  background-repeat: repeat;

}

.tittle{

  font-size: 1.3em;

}

h2,p{
  margin: 20px;

}

.sample {

    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#49a9d4;
    border-radius:5px;
}
.midasi {
	font-size: 1.3em;
	padding: 30px;
	text-align: center;
}

.button {
	width: 30%;
	margin: 90px auto;
	text-align: center;
	border-radius: 20px;
}

.button a {
	display: block;
	text-decoration: none;
	border-radius: 20px;
	border: 4px solid #ff8c00;
	font-size: 1.3em;
	color: red;
	padding: 40px 70px;
	transition: all 0.3s;
}

.button a:hover {
	color: #000;
	background-color: orange;
}
