@charset "UTF-8";
/*box-sizingのミックスイン*/
/*clearfixのミックスイン*/
/*メディアクエリのミックスイン*/
/*box-sizingのミックスイン*/
/*clearfixのミックスイン*/
/*メディアクエリのミックスイン*/
/*変数の設定*/
/*全ページ共通の設定*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  right: 0;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  font-family: 'meirio','メイリオ',sans-serif;
  font-size: 1.0rem;
  box-shadow: 4px 0 3px #c0c0c0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header {
  position: relative;
  background-color: #ff8c00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*グローバルナビゲーションの設定*/
}

.header h1 {
  width: 20%;
  padding: 30px 50px;
  text-align: center;
  background-color: #ffffe0;
}

@media screen and (max-width: 890px) {
  .header h1 {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 620px) {
  .header h1 {
    width: 40%;
    padding: 10px;
    background-color: none;
  }
}

.header h1 a {
  transition: all 0.3s;
}

.header h1 a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 620px) {
  .header h1 a img {
    max-width: 60%;
  }
}

.header .gnav {
  width: 65%;
}

@media screen and (max-width: 620px) {
  .header .gnav {
    display: none;
  }
}

.header .gnav ul {
  width: 100%;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .gnav ul li {
  width: 20%;
}

.header .gnav ul li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.header .gnav ul li a:hover {
  transform: scale(1.1);
}

.header .gnav ul li a i {
  font-size: 1.4rem;
  padding: 10px;
}

@media screen and (max-width: 890px) {
  .header .gnav ul li a i {
    font-size: 0.9rem;
    padding: 5px;
  }
}

.header .gnav ul li a i::after {
  content: attr(title);
  padding: 5px;
  display: block;
  color: #fff;
  font-size: 0.9rem;
}

@media screen and (max-width: 890px) {
  .header .gnav ul li a i::after {
    font-size: 0.6rem;
  }
}

.login {
  font-size: 0.9rem;
  width: 15%;
}

@media screen and (max-width: 890px) {
  .login {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 620px) {
  .login {
    display: none;
  }
}

.login ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login ul li {
  width: 50%;
}

.login ul li a {
  color: #fff;
}

.login ul li a:hover {
  text-decoration: none;
}

.sm_button {
  display: none;
  cursor: pointer;
  transition: all .3s;
}

.sm_button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .sm_button {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #ff8c00;
    font-size: 1.7rem;
    border: none;
    display: block;
  }
  .sm_button i {
    color: #fff;
  }
}

/*ここからサイドナビゲーションの設定*/
.side {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: -240px;
  width: 240px;
  height: 100%;
  background-color: rgba(224, 200, 180, 0.2);
}

.side h2 {
  padding: 10px 10px 0 10px;
}

.side .side__inner {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.side .profile {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
}

.side .user-name {
  text-align: center;
  padding: 6px;
  font-size: 1.0em;
}

.side p {
  font-size: 0.8em;
  margin: 5px auto;
  line-height: 1.2;
}

.side .user {
  margin-top: 5px;
  font-size: 0.95em;
}

.side .button {
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #c0c0c0;
  background-color: #f5f5f5;
  box-shadow: 0 2px 0 #a9a9a9;
}

.side .button a {
  color: #000;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.side .side-nav {
  margin: 0 auto;
}

.side .side-nav li {
  width: 100%;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.side .side-nav li:nth-child(5) {
  border: none;
}

.side .side-nav li a {
  color: #000;
  text-decoration: none;
}

.footer {
  width: 100%;
  padding: 30px;
  position: relative;
  background-image: url("../img/allpage/footer_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 620px) {
  .footer section {
    flex-direction: column;
  }
}

.footer h1 {
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .footer h1 {
    width: 70%;
  }
}

@media screen and (max-width: 620px) {
  .footer h1 {
    width: 80%;
    margin: 0 auto;
  }
}

.footer h1 img {
  max-width: 80%;
}

.footer dl {
  width: 50%;
  margin: 0 auto;
  font-style: normal;
}

@media screen and (max-width: 890px) {
  .footer dl {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .footer dl {
    width: 70%;
    padding: 10px;
  }
}

.footer dl dt {
  width: 100%;
  padding: 5px;
  text-align: left;
}

@media screen and (max-width: 890px) {
  .footer dl dt {
    font-size: 0.9rem;
  }
}

.footer dl dd {
  width: 100%;
  padding: 5px;
}

@media screen and (max-width: 890px) {
  .footer dl dd {
    font-size: 0.8rem;
  }
}

.footer .sitemap {
  width: 30%;
}

@media screen and (max-width: 890px) {
  .footer .sitemap {
    width: 50%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 620px) {
  .footer .sitemap {
    width: 80%;
    margin: 0 auto;
    margin-left: 20%;
  }
}

.footer .sitemap li {
  width: 50%;
  float: left;
  text-align: left;
}

.footer .sitemap li::after {
  display: block;
  content: '';
  clear: both;
}

.footer .sitemap li a {
  display: block;
  color: #000;
  font-size: 0.9rem;
  padding: 8px;
  text-decoration: none;
  transition: all 0.3s;
}

@media screen and (max-width: 890px) {
  .footer .sitemap li a {
    font-size: 0.7rem;
  }
}

.footer .sitemap li a:hover {
  opacity: 0.6;
}

.footer .copyright {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .footer .copyright {
    font-size: 0.65rem;
  }
}

/*トップページのコンテンツの設定*/
.contents .akineta-wrapper {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.contents .akineta-wrapper .akineta {
  position: relative;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 620px) {
  .contents .akineta-wrapper .akineta {
    height: 300px;
  }
}

.contents .akineta-wrapper .akineta h2 {
  font-size: 1.5em;
  padding-top: 70px;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .contents .akineta-wrapper .akineta h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 620px) {
  .contents .akineta-wrapper .akineta h2 {
    font-size: 1.0rem;
  }
}

.contents .akineta-wrapper .akineta .button {
  width: 30%;
  margin: 90px auto;
  text-align: center;
  border-radius: 20px;
}

@media screen and (max-width: 890px) {
  .contents .akineta-wrapper .akineta .button {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .contents .akineta-wrapper .akineta .button {
    width: 60%;
  }
}

.contents .akineta-wrapper .akineta .button a {
  display: block;
  text-decoration: none;
  border-radius: 20px;
  border: 4px solid #fff;
  font-size: 1.3em;
  color: #fff;
  padding: 40px 70px;
  transition: all 0.3s;
}

@media screen and (max-width: 890px) {
  .contents .akineta-wrapper .akineta .button a {
    font-size: 1.0rem;
    padding: 40px 50px;
  }
}

@media screen and (max-width: 620px) {
  .contents .akineta-wrapper .akineta .button a {
    font-size: 0.9rem;
    padding: 30px 40px;
  }
}

.contents .akineta-wrapper .akineta .button a:hover {
  color: #000;
  background-color: white;
}

.contents .akineta-wrapper .akineta .charcter {
  position: absolute;
  top: 40%;
  left: 70%;
}

@media screen and (max-width: 890px) {
  .contents .akineta-wrapper .akineta .charcter {
    display: none;
  }
}

.contents .contents__inner {
  background-image: url(../img/background.png);
  background-repeat: repeat;
}

.contents .contents__inner .midasi {
  font-size: 1.3em;
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .contents .contents__inner .midasi {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 620px) {
  .contents .contents__inner .midasi {
    font-size: 1.0rem;
  }
}

.contents .contents__inner .text {
  width: 70%;
  line-height: 1.8em;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 890px) {
  .contents .contents__inner .text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 620px) {
  .contents .contents__inner .text {
    font-size: 0.7rem;
  }
}

.contents .season-recipes, .contents .popular-recipes {
  width: 100%;
  padding: 80px 40px;
  margin: 0 auto;
}

@media screen and (max-width: 620px) {
  .contents .season-recipes, .contents .popular-recipes {
    padding: 40px 20px;
  }
}

.contents .season-recipes a, .contents .popular-recipes a {
  display: block;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.contents .season-recipes a:hover, .contents .popular-recipes a:hover {
  opacity: 0.8;
}

.contents .season-recipes::after, .contents .popular-recipes::after {
  display: block;
  content: '';
  clear: both;
}

.contents .season-recipes .season-recipes__inner, .contents .season-recipes .popular-recipes__inner, .contents .popular-recipes .season-recipes__inner, .contents .popular-recipes .popular-recipes__inner {
  width: 23%;
  margin: 3% 1%;
  float: left;
}

@media screen and (max-width: 620px) {
  .contents .season-recipes .season-recipes__inner, .contents .season-recipes .popular-recipes__inner, .contents .popular-recipes .season-recipes__inner, .contents .popular-recipes .popular-recipes__inner {
    width: 46%;
    margin: 3% 2%;
  }
}

.contents .season-recipes .season-recipes__inner .recipe-name, .contents .season-recipes .popular-recipes__inner .recipe-name, .contents .popular-recipes .season-recipes__inner .recipe-name, .contents .popular-recipes .popular-recipes__inner .recipe-name {
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 890px) {
  .contents .season-recipes .season-recipes__inner .recipe-name, .contents .season-recipes .popular-recipes__inner .recipe-name, .contents .popular-recipes .season-recipes__inner .recipe-name, .contents .popular-recipes .popular-recipes__inner .recipe-name {
    font-size: 0.8rem;
  }
}

.contents .member, .contents .menu-suggestions {
  padding: 15px;
  color: #fff;
  background: #ff4500;
}

.contents .member .button__inner, .contents .menu-suggestions .button__inner {
  padding: 15px;
  margin-left: 60%;
}

@media screen and (max-width: 620px) {
  .contents .member .member__inner, .contents .member .menu-suggestions__inner, .contents .menu-suggestions .member__inner, .contents .menu-suggestions .menu-suggestions__inner {
    width: 100%;
    margin: 0 auto;
  }
}

.contents .member .member__inner h1, .contents .member .menu-suggestions__inner h1, .contents .menu-suggestions .member__inner h1, .contents .menu-suggestions .menu-suggestions__inner h1 {
  margin-left: 5%;
  padding: 15px;
  font-size: 1.3em;
}

@media screen and (max-width: 890px) {
  .contents .member .member__inner h1, .contents .member .menu-suggestions__inner h1, .contents .menu-suggestions .member__inner h1, .contents .menu-suggestions .menu-suggestions__inner h1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 620px) {
  .contents .member .member__inner h1, .contents .member .menu-suggestions__inner h1, .contents .menu-suggestions .member__inner h1, .contents .menu-suggestions .menu-suggestions__inner h1 {
    font-size: 1.1rem;
  }
}

.contents .member .member__inner p, .contents .member .menu-suggestions__inner p, .contents .menu-suggestions .member__inner p, .contents .menu-suggestions .menu-suggestions__inner p {
  margin-left: 5%;
  padding: 15px;
}

@media screen and (max-width: 890px) {
  .contents .member .member__inner p, .contents .member .menu-suggestions__inner p, .contents .menu-suggestions .member__inner p, .contents .menu-suggestions .menu-suggestions__inner p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 620px) {
  .contents .member .member__inner p, .contents .member .menu-suggestions__inner p, .contents .menu-suggestions .member__inner p, .contents .menu-suggestions .menu-suggestions__inner p {
    font-size: 0.8rem;
  }
}

.contents .member .member__inner .button, .contents .member .menu-suggestions__inner .button, .contents .menu-suggestions .member__inner .button, .contents .menu-suggestions .menu-suggestions__inner .button {
  width: 40%;
  border-radius: 10px;
  float: left;
  padding: 0;
}

@media screen and (max-width: 890px) {
  .contents .member .member__inner .button, .contents .member .menu-suggestions__inner .button, .contents .menu-suggestions .member__inner .button, .contents .menu-suggestions .menu-suggestions__inner .button {
    width: 45%;
  }
}

.contents .member .member__inner .button a, .contents .member .menu-suggestions__inner .button a, .contents .menu-suggestions .member__inner .button a, .contents .menu-suggestions .menu-suggestions__inner .button a {
  display: block;
  padding: 15px;
  font-size: 0.8rem;
  border-radius: 10px;
  border: 3px solid #fff;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}

@media screen and (max-width: 620px) {
  .contents .member .member__inner .button a, .contents .member .menu-suggestions__inner .button a, .contents .menu-suggestions .member__inner .button a, .contents .menu-suggestions .menu-suggestions__inner .button a {
    font-size: 0.7rem;
  }
}

.contents .member .member__inner .button a:hover, .contents .member .menu-suggestions__inner .button a:hover, .contents .menu-suggestions .member__inner .button a:hover, .contents .menu-suggestions .menu-suggestions__inner .button a:hover {
  color: #000;
  background-color: #fff;
}

.contents .member .member__inner::after, .contents .member .menu-suggestions__inner::after, .contents .menu-suggestions .member__inner::after, .contents .menu-suggestions .menu-suggestions__inner::after {
  display: block;
  content: '';
  clear: both;
}

.contents .member .menu-suggestions__inner .button, .contents .menu-suggestions .menu-suggestions__inner .button {
  width: 60%;
}

@media screen and (max-width: 890px) {
  .contents .member .menu-suggestions__inner .button, .contents .menu-suggestions .menu-suggestions__inner .button {
    width: 80%;
  }
}

@media screen and (max-width: 620px) {
  .contents .member .menu-suggestions__inner .button, .contents .menu-suggestions .menu-suggestions__inner .button {
    width: 90%;
  }
}

.contents .member .menu-suggestions__inner .button a, .contents .menu-suggestions .menu-suggestions__inner .button a {
  font-size: 1.3em;
  padding: 20px;
}

@media screen and (max-width: 890px) {
  .contents .member .menu-suggestions__inner .button a, .contents .menu-suggestions .menu-suggestions__inner .button a {
    font-size: 0.8rem;
  }
}
