<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'allergy-style', media: 'all', 'data-turbolinks-track' => true %>
  <body>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">
        <div class="slide_box">
          <div class="tittle">
            <h2>アレルギー設定</h2>
            <p>アレルギーがあるものを選択してください</p>
          </div>
          <div class="question allergies">
          <%= form_tag 'allergies/allergiesinput' do %>
          <p>
          <% if @user.alvalue != nil %>
            <% checked = @user.alvalue.split(",") %>
          <% end %>
          <% @all.each do |all| %>
            <% if @user.alvalue != nil %>
              <% checkval = checked.include?(all.id.to_s) ? true : false %>
            <% else %>
              <% checkval = false %>
            <% end %>
            <label><p><%= check_box_tag 'alle[]', all.id, checkval, {} %>
            <%= label_tag all.aname  %></p></label>
          <% end %>
          <%= submit_tag "設定する" %></p>
        <% end %>
        </div>
      </div>

</div>

            </section>
          </div><!--/.contents__inner season-resipes-->
        </main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
