      <%= stylesheet_link_tag    'profile', media: 'all', "data-turbolinks-track" => true %>
<%= stylesheet_link_tag 'top-style', media: 'all', 'data-turbolinks-track' => true %>


  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="container">

<!--ヘッダーに関する記述---------------------------------------------------------->
    <%= render 'layouts/header' %>
<!--ヘッダーに関する記述ここまで---------------------------------------------------->

<!--メインコンテンツに関する記述----------------------------------------------------->
      <main class="contents">
        <div class="contents__inner season-recipes">
          <section>
<div class="row">
  <% if @user.dishes.count != 0 %>
    <h1>お気に入りの削除</h1>
    <p>削除したいレシピをチェックして削除ボタンをクリックすることでお気に入りから削除されます</p>
    <%= form_tag 'favdeleteselect/favdelete' do %>
      <% @user.dishes.each do |userfav| %>
        <%= check_box_tag 'fav[]', userfav.id, false, {} %>
        <%= userfav.dishname %><br>
        <% end %>
      <%= submit_tag "削除" %>
      <% end %>
  <% else %>
    <h1>お気に入りレシピはありません</h1>
  <% end %>
  <%= link_to 'マイページ', user_page_path %>
</div>

</section>
</div><!--/.contents__inner season-resipes-->
</main>
<!--メインコンテンツに関する記述ここまで---------------------------------------------->

<!--フッターに関する記述----------------------------------------------------------->
<%= render 'layouts/footer' %>
<!--フッターここまで--------------------------------------------------------------->

</div><!--/.container-->

<!--javascriptのファイルの読み込み等-->
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
mode: 'fade',
speed: 5000,
randomStart: true,
pager: false,
controls: false,
auto: true
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
if ($(window).width() > 420) {
$('.akineta').bgswitcher({
images: ['/img/top/slide/sample.jpg','/img/top/slide/sample2.jpg','/img/top/slide/sample3.jpg'],
interval: 5000
});
}
});
</script>
